{% extends 'base.html' %}

{% block content %}

<div style="background-color: #6C9C9D">

<div class="row">
    <div class="offset-1 col-4 px-3 py-3 pt-md-5 pb-md-4">
        <br/>
        <h1 style="color:white">Get feedback on your content </h1> <!-- Make sure the font is helvetica neue -->
        <p> Companyname is an online platform to get feedback on content and make sure it's on point for your specific target group</p>
        <button class="btn btn-primary"> Get Started</button>
    </div>
    <!-- <div class="offset-1 col-5 px-3 py-3 pt-md-5 pb-md-4 align-baseline">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="550" height="230" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
    </div> -->
</div>
<br/><br/><br/>
<br/><br/><br/>

</div>
<br/>
<div class="row">
    <div class="col-4 offset-1">
        <h3 style="color:#C98770"> How it works </h3>
    </div>
</div>

<br/><br/>

<div class="row">
    <div class="container col-3 offset-1">
       <span class="oi oi-plus text-primary"></span>
       <p class="mt-2">  <strong> Step 1:  Add your content </p> </strong>
       <p> Lorem ipsum sinor dolet rem ipsum sinor dolet  rem ipsum sinor dolet Lorem ipsum sinor dolet rem ipsum </p>
    </div>
    <div class="container col-3 mx-auto">
        <span class="oi oi-target text-primary"></span>
    <p class="mt-2"> <strong> Step 2:  Select target audience </p> </strong>
    <p> Lorem ipsum sinor dolet rem ipsum sinor dolet  rem ipsum sinor dolet Lorem ipsum sinor dolet rem ipsum </p>
    </div>
     <div class=" offset-1-right container col-3 ">
        <span class="oi oi-comment-square text-primary"></span>
        <p class="mt-2"> <strong> Step 3: Recieve feedback  </p> </strong>
        <p> Lorem ipsum sinor dolet rem ipsum sinor dolet  rem ipsum sinor dolet Lorem ipsum sinor dolet rem ipsum </p>
    </div>
</div>

<br/>
<br/>

{% endblock %}
