{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">User Testing of Content</h1>
      <p class="lead"></p>
    </div>
</div>

<br/>
<br/>
<br/>

<div class="row">
    <div class="col-5 mx-auto">
        <h3 class="text-center"> <span class="oi oi-check"></span>Thank you for adding your content!</h3>
    </div>
</div>
    <br/>
<div class="row">
    <div class="col-4 mx-auto">
        <a href="{% url 'readerpage' content.id %}"> <p class="text-center"> Send this link to the person you want feedback from </p> </a>
    </div>
</div>
    <br/>
    <br/>
<div class="row">
    <div class="col-4 mx-auto">
        <a href="{% url 'home' %}" class="navbar-brand text-dark"> <h3> <span class="oi oi-arrow-circle-left"></span> Go Back </h3> </a>
    </div>
</div>

{% endblock %}
